{% extends 'base.html' %}
{% block content %}
{% load static %}

  <!-- gallery -->
  <header class="relative overflow-hidden">
    <div class="absolute inset-0 bg-[#b28449]"></div> <!-- Gradient background -->
    <div class="relative max-w-7xl mx-auto py-12 px-4 sm:py-8 sm:px-6 lg:px-8">
        <!-- Reduced padding for smaller devices -->
        <h1 class="text-2xl font-semibold text-white text-center mb-4">
            <!-- Adjusted font size for larger screens -->
            Our Gallery
        </h1>
        <p class="text-lg text-white text-center max-w-3xl mx-auto">
            Explore the impactful moments of our journey through
            our photo gallery.
        </p>
    </div>
</header>

<section class="p-4 mb-4 mt-4">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="academic.jpg" alt="Gallery Image">
            </div>
             <div>
                <img class="h-56 w-full object-cover rounded-lg" src="activities.jpg" alt="Gallery Image">
            </div>
             <div>
                <img class="h-56 w-full object-cover rounded-lg" src="auma.jpg" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="bahati.jpg" alt="Gallery Image">
            </div>
             <div>
                <img class="h-56 w-full object-cover rounded-lg" src="headteacher.jpg" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="capchunplanting.jpeg" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="capuchinsisters.jpeg" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="capuchins.jpeg" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="charles.jpg" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="tochurch.jpeg" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="quadrangle.jpeg" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="quadrangle_out.jpeg" alt="Gallery Image">
            </div>
            </div>
</section>
    
{% endblock %}