{% extends 'base.html' %}
{% block content %}
{% load static %}

  <!-- gallery -->
  <header class="relative overflow-hidden">
    <div class="absolute inset-0 bg-[#b28449]"></div> <!-- Gradient background -->
    <div class="relative max-w-7xl mx-auto py-12 px-4 sm:py-8 sm:px-6 lg:px-8">
        <!-- Reduced padding for smaller devices -->
        <h1 class="text-2xl font-semibold text-white text-center mb-4">
            <!-- Adjusted font size for larger screens -->
            Our Gallery
        </h1>
        <p class="text-lg text-white text-center max-w-3xl mx-auto">
            Explore the impactful moments of our journey through
            our photo gallery.
        </p>
    </div>
</header>

<section class="p-4 mb-4 mt-4">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/academic.jpg' %}" alt="Gallery Image">
            </div>
             <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/activities.jpg' %}" alt="Gallery Image">
            </div>
             <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/auma.jpg' %}" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/bahati.jpg' %}" alt="Gallery Image">
            </div>
             <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/headteacher.jpg' %}" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/capchunplanting.jpeg' %}" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/capuchinsisters.jpeg' %}" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/capuchins.jpeg' %}" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/charles.jpg' %}" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/tochurch.jpeg' %}" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/quadrangle.jpeg' %}" alt="Gallery Image">
            </div>
            <div>
                <img class="h-56 w-full object-cover rounded-lg" src="{% static 'images/mainimages/quadrangle_out.jpeg' %}" alt="Gallery Image">
            </div>
            </div>
</section>
    
{% endblock %}